{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a id="Home" class="navbar-brand" href="#Home">ThomasNev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#Home">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#about">&Agrave; propos</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="titre">
        <h2>Thomas Neveu</h2>
        <hr class="my-2">
        <h1>D&eacute;veloppeur Web et Web Mobile</h1>
    </div>

</header>

<div class="container">
    <h3 id="projects" class="h1 my-5">Mes Projets</h3>
    <div class="row">

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ asset('img/projets/tablet-coffee.jpg') }}" alt="Projet 1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ asset('img/projets/startup-desktop.jpg') }}" alt="Projet 1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ asset('img/projets/designers-desk.jpg') }}" alt="Projet 1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <h3 id="skills" class="h1 my-5">Mes Comp&eacute;tences</h3>
    <div class="row">

        <div class="col-md-4 p-3">
            <div class="card">
                <div class="card-header">
                    <h4>Programming Languages/Technologies</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Javascript</li>
                    <li class="list-group-item">PHP</li>
                    <li class="list-group-item">Java</li>
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS/SASS</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="card">
                <div class="card-header">
                    <h4>Frameworks/Libraries</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Node.js</li>
                    <li class="list-group-item">Bootstrap</li>
                    <li class="list-group-item">Wordpress</li>
                    <li class="list-group-item">jQuery</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="card">
                <div class="card-header">
                    <h4>Databases</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">MySQL</li>
                    <li class="list-group-item">SQL Server</li>
                    <li class="list-group-item">PostgreSQL</li>
                    <li class="list-group-item">MongoDB</li>
                    <li class="list-group-item">Oracle</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<footer class="container-fluid">
    <hr>
    <div class="d-flex justify-content-around">
        <div class="p-2 text-center p-5">
            <ul>
                <li><a href="#Home">Haut de page</a></li>
                <li><a href="#skills">Comp&eacute;tences</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{{ path('admin') }}">Admin</a></li>
            </ul>
        </div>

        <div id="about" class="p-2 text-center p-5">
            <hr>
            <h3>Thomas Neveu</h3>
            <p>D&eacute;veloppeur Web et Web Mobile</p>
            <div class="dropdown-divider"></div>
            <p><a href="mailto:Tneveu91@gmail.com">Tneveu91@gmail.com</a></p>
        </div>
    </div>
</footer>

{% endblock %}