/* **************************************** RESET **************************************** */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Georgia, 'Times New Roman', Times, serif, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

/* **************************************** HOME - HEADER **************************************** */

    header .navbar {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
    }

    header .titre{
        width: 100%;
        height: 32vh;
        padding: 70px 0;
        opacity: 0.5;
        position: relative;
        text-align: center;
        background-image: url('../img/header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    header h1,
    header h2{
        top: 100%;
        width: 100%;
        color: #000000;
    }

    header h2{
        top: 90%;
    }

    .text {
        background-color: white;
        color: black;
        font-size: 2vw; 
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        width: 25%;
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -35%);
        mix-blend-mode: screen;
      }

/* **************************************** INDEX - BODY **************************************** */

.container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #A9A9A9; /* Set a background color */
    opacity: 0.8;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/* **************************************** BASE - FOOTER **************************************** */

footer a{
    color: #000;
}

footer a:hover{
    color: #888;
}
