{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<div class="container">
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Admin</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="Em4cjtF7ezDE1BUEVaCizwLp42O2NQ-HWSJn9PjqVnQ">

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>

{% endblock %}
