{% extends 'baseAdmin.html.twig' %}

{% block title %}Skills - form{% endblock title %}

{% block body %}

{{ parent() }}

<div class="container">
    <h3 id="projects" class="h1 my-5">Form skills</h3>
    {{ form_start(formSkill) }}
    {{ form_end(formSkill) }}
</div>

{% endblock %}