<p>
    <b>Contact details :</b>
    <ul>
        <li>Name : {{ lastName|upper }} {{ firstName }}</li>
        <li>Email : {{ email }}</li>
    </ul>
</p>

<p><b>Message :</b></p>

<p>{{ message|nl2br }}</p>