<p>
    <b>{% trans %}Contact details{% endtrans %} :</b>
    <ul>
        <li>{% trans %}Name{% endtrans %} : {{ lastName|upper }} {{ firstName }}</li>
        <li>{% trans %}Email{% endtrans %} : {{ email }}</li>
    </ul>
</p>

<p><b>Message :</b></p>

<p>{{ message|nl2br }}</p>