{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
{{ parent() }}

    <div class="container-fluid">

        <div class="row p-5 bg-light">
            <div class="col-12 text-center">
                <h1>Contact form</h1>
            </div>
        </div>

        <div class="row p-5">
            <div class="col-4 offset-4">
                {{ form_start(contactForm) }}
                {{ form_end(contactForm) }}
            </div>
        </div>

    </div>

{% endblock %}
